#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath | regex_replace('^' ~ role_path, role_path | basename) }}

name: {{ docker_project_slug }}

services:

  homepage:
    image: ghcr.io/gethomepage/homepage:{{ homepage_version }}
    container_name: {{ docker_project_slug }}
    restart: {{ docker_project_restart }}

    {{ docker_project_service_network_options | indent(4) }}

    {{ docker_project_service_additional_options | indent(4) }}

    environment:
      PUID: {{ homepage_puid }}
      PGID: {{ homepage_pgid }}
      HOMEPAGE_ALLOWED_HOSTS: {{ homepage_allowed_hosts | join(',') }}
    env_file: .env

    volumes:
      # Homepage local configuration
      - ./config:/app/config
      - ./images:/app/public/images
      {% if homepage_mount_docker_socket | default(false) %}
      # For docker integrations
      - /var/run/docker.sock:/var/run/docker.sock
      {% endif %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}

      # What's up Docker? - https://github.com/getwud/wud
      wud.watch.digest: true

{{ docker_project_networks }}

{{ docker_project_compose_additional_options }}
