#jinja2: trim_blocks: True, lstrip_blocks: True
# {{ ansible_managed }}
# {{ template_fullpath }}

name: {{ docker_project_slug }}

services:

  homepage:
    container_name: {{ docker_project_slug }}
    image: ghcr.io/gethomepage/homepage:{{ homepage_version }}
    restart: unless-stopped
    {% if homepage_network_mode == 'host' %}
    network_mode: host
    {% endif %}

    {{ docker_project_compose_service_additional_options | indent(4) }}

    environment:
      PUID: {{ homepage_puid }}
      PGID: {{ homepage_pgid }}
      HOMEPAGE_ALLOWED_HOSTS: {{ homepage_allowed_hosts | join(',') }}
    env_file: .env

    volumes:
      # Homepage local configuration
      - ./config:/app/config
      - ./images:/app/public/images
      {% if homepage_mount_docker_socket | default(false) %}
      # For docker integrations
      - /var/run/docker.sock:/var/run/docker.sock
      {% endif %}

    labels:
      {{ traefik_project_base_labels | indent(6) }}

      # What's up Docker? - https://github.com/getwud/wud
      wud.watch.digest: true

{% if homepage_network_mode != 'host' %}
networks:
  {{ docker_project_default_network | indent(2) }}
{% endif %}

{{ docker_project_compose_additional_options }}
